* {
    margin: 0;
    padding: 0;
    list-style-type: none;
    font-family: 'Ubuntu', sans-serif;
}

body {
    background: url(background.jpg) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

h1 {
    padding: 20px;
    text-align: center;
    text-shadow: 1px 1px 1px rgba(0,0,0,0.3);
}

.controls {
    display: block;
    margin: 20px auto;
    max-width: 1000px;
}

select {
    height: 26px;
}
select:first-of-type {
    margin-left: 5px;
}
button {
    padding: 5px 10px;
    float: right;
    margin-right: 5px;
}
select, button {
    font-size: 15px;
}

.challenges {
    display: block;
    margin: 10px auto 0;
    max-width: 1000px;
    padding: 1px;
    background: rgba(255,255,255,0.8);
    color: black;
    overflow-y: scroll;
}
    .challenges li {
        padding: 3px 0;
        width: 100%;
    }
    .challenges li:nth-child(odd) {
        background: rgba(255,255,255,0.6);
    }
        .challenges li * {
            display: inline-block;
            vertical-align: top;
            overflow-x: hidden;
        }
        .challenges li input { /* checkbox */
            width: 5%;
            margin: 4px 0 0 3%;
            /*text-align: center;*/
        }
        .challenges li p:nth-of-type(1) { /* number */
            width: 5%;
        }
        .challenges li a { /* link */
            width: 50%;
            color: royalblue;
            text-decoration: none;
        }
        .challenges li a:hover {
            text-decoration: underline;
        }
        .challenges li a:visited {
            color: dodgerblue;
        }
        .challenges li p:nth-of-type(2) { /* difficulty */
            width: 27%;
        }
        .challenges li p:nth-of-type(3) { /* date */
            width: 10%;
        }
